<form mat-card-content [formGroup]="reportControl">
  <!-- REPORTER -->

  <div class="mb-20">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>საქმის დასახელება</mat-label>
      <input [formControl]="titleControl" type="text" matInput autocomplete="off" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>დამატებითი ინფორმაცია</mat-label>
      <textarea [formControl]="descriptionControl" matInput rows="7"></textarea>
    </mat-form-field>
    <mat-accordion>
      <mat-expansion-panel [formGroup]="reporterControl" expanded>
        <mat-expansion-panel-header>
          <mat-panel-title> მოსარჩელე </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mb-20 mt-10">
          <mat-radio-group [formControl]="reporterTypeControl">
            <mat-radio-button value="person">ფიზიკური პირი</mat-radio-button>
            <mat-radio-button value="company">იურიდიული პირი</mat-radio-button>
          </mat-radio-group>
        </div>
        <hr />
        <!-- ORGANISATION ID -->
        <mat-form-field *ngIf="reporterTypeControl.value === 'company'" class="w-100" appearance="outline">
          <mat-label>ორგანიზაციის ნომერი</mat-label>
          <input formControlName="organisationId" type="text" matInput autocomplete="off" />
        </mat-form-field>
        <!-- ORGANISATION NAME -->
        <mat-form-field *ngIf="reporterTypeControl.value === 'company'" class="w-100" appearance="outline">
          <mat-label>ორგანიზაციის სახელი</mat-label>
          <input formControlName="organisationName" type="text" matInput autocomplete="off" />
        </mat-form-field>
        <!-- FIRSTNAME  -->
        <mat-form-field *ngIf="reporterTypeControl.value === 'person'" class="w-100" appearance="outline">
          <mat-label>სახელი</mat-label>
          <input formControlName="firstName" type="text" matInput autocomplete="off" />
        </mat-form-field>
        <!-- LASTNAME -->
        <mat-form-field class="w-100" appearance="outline" *ngIf="reporterTypeControl.value === 'person'">
          <mat-label>გვარი</mat-label>
          <input formControlName="lastName" type="text" matInput autocomplete="off" />
        </mat-form-field>
        <!-- PID -->
        <mat-form-field class="w-100" appearance="outline" *ngIf="reporterTypeControl.value === 'person'">
          <mat-label>პირადი ნომერი</mat-label>
          <input formControlName="pid" type="number" matInput autocomplete="off" />
        </mat-form-field>
        <!-- EMAIL -->
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>ელექტრონული ფოსტა</mat-label>
          <input formControlName="email" type="email" matInput autocomplete="off" />
        </mat-form-field>
        <!-- PHONE -->
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>ტელეფონის ნომერი</mat-label>
          <input formControlName="phone" type="text" matInput autocomplete="off" />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!-- DEFENDANT -->
  <div class="mb-20">
    <mat-accordion>
      <mat-expansion-panel expanded [formGroup]="defendantControl">
        <mat-expansion-panel-header>
          <mat-panel-title> მოპასუხე </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mb-20 mt-10">
          <mat-radio-group [formControl]="defendantTypeControl">
            <mat-radio-button value="person">ფიზიკური პირი</mat-radio-button>
            <mat-radio-button value="company">იურიდიული პირი</mat-radio-button>
          </mat-radio-group>
        </div>
        <hr />
        <!-- ORGANISATION ID -->
        <mat-form-field *ngIf="defendantTypeControl.value === 'company'" class="w-100" appearance="outline">
          <mat-label>ორგანიზაციის ნომერი</mat-label>
          <input formControlName="organisationId" type="text" matInput autocomplete="off" />
        </mat-form-field>
        <!-- ORGANISATION NAME -->
        <mat-form-field *ngIf="defendantTypeControl.value === 'company'" class="w-100" appearance="outline">
          <mat-label>ორგანიზაციის სახელი</mat-label>
          <input formControlName="organisationName" type="text" matInput autocomplete="off" />
        </mat-form-field>
        <!-- FIRSTNAME  -->
        <mat-form-field *ngIf="defendantTypeControl.value === 'person'" class="w-100" appearance="outline">
          <mat-label>სახელი</mat-label>
          <input formControlName="firstName" type="text" matInput autocomplete="off" />
        </mat-form-field>
        <!-- LASTNAME -->
        <mat-form-field class="w-100" appearance="outline" *ngIf="defendantTypeControl.value === 'person'">
          <mat-label>გვარი</mat-label>
          <input formControlName="lastName" type="text" matInput autocomplete="off" />
        </mat-form-field>
        <!-- PID -->
        <mat-form-field class="w-100" appearance="outline" *ngIf="defendantTypeControl.value === 'person'">
          <mat-label>პირადი ნომერი</mat-label>
          <input formControlName="pid" type="number" matInput autocomplete="off" />
        </mat-form-field>
        <!-- EMAIL -->
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>ელექტრონული ფოსტა</mat-label>
          <input formControlName="email" type="email" matInput autocomplete="off" />
        </mat-form-field>
        <!-- PHONE -->
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>ტელეფონის ნომერი</mat-label>
          <input formControlName="phone" type="text" matInput autocomplete="off" />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="file-uploader mb-20">
    <mat-card>
      <div *ngFor="let item of filesControl.value; let i = index" class="mb-20 mt-10">
        <app-file-uploader [fileDelete]="true" (fileUploaded)="fileUploaded($event, i)"
          (deletedFile)="deletedFile($event, i)" [validateFile]="['application/pdf']" name="ფაილის ატვირთვა"
          [disabled]="filesControl?.value[i]?.filename" [file]="filesControl?.value[i]"></app-file-uploader>
      </div>
      <button (click)="addFileUploader()" class="green-btn" type="button" mat-raised-button>
        ფაილის დამატება <mat-icon>add</mat-icon>
      </button>
    </mat-card>
  </div>
  <div mat-card-actions>
    <button (click)="saveCase()" color="primary" mat-raised-button>
      გაგზავნა
    </button>
  </div>
</form>
