<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="nav-paddings"
>
  <span>Arbitrage</span>
  <div>
    <a
      *ngIf="superAdmin"
      class="nav-buttons nav-links"
      routerLinkActive="active"
      [routerLink]="['um']"
      >თანამშრომლების მართვა</a
    >
    <a
      class="nav-buttons nav-links"
      routerLinkActive="active"
      [routerLink]="['work']"
      >საქმეები</a
    >
    <button
      mat-icon-button
      class="nav-buttons"
      aria-label="Example icon-button with heart icon"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item [routerLink]="['profile']"
        ><mat-icon>person</mat-icon> profile</a
      >
      <button (click)="logOut()" mat-menu-item>
        <mat-icon>logout</mat-icon>log out
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
