::ng-deep {
  .mat-dialog-container {
    border-radius: 8px !important;
    padding: 16px !important;
  }
}

::ng-deep.mat-dialog-content {
  margin: 0 !important;
  padding: 12px !important;
}

.mat-dialog-actions {
  margin-bottom: 5px;
}

.eye-btn {
  cursor: pointer;
  width: 16px;
  height: 20px;
  background-color: inherit;
  border: none;
}

.closed-eye {

  background-image: url('../../../../../../../assets/eye-icons/icons8-closed-eye-16.png');
  background-repeat: no-repeat;
}

.opened-eye {
  background-image: url('../../../../../../../assets/eye-icons/icons8-eye-16.png');
  background-repeat: no-repeat;
}
