<h2 mat-dialog-title>პაროლის შეცვლა</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="passwordForm">
    <mat-form-field class="w-100">
      <mat-label>არსებული პაროლი</mat-label>
      <input
        formControlName="password"
        [type]="passwordInputType"
        matInput
        placeholder="არსებული პაროლი"
      />
      <button
        type="button"
        (click)="
          $event.stopPropagation();
          passwordInputType =
            passwordInputType === 'password' ? 'text' : 'password'
        "
        matSuffix
        class="eye-btn"
        [ngClass]="{
          'closed-eye': passwordInputType === 'password',
          'opened-eye': passwordInputType === 'text'
        }"
      ></button>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>ახალი პაროლი</mat-label>
      <input
        formControlName="newPassword"
        [type]="newPasswordInputType"
        matInput
        placeholder="ახალი პაროლი"
      />
      <button
        type="button"
        (click)="
          $event.stopPropagation();
          newPasswordInputType =
            newPasswordInputType === 'password' ? 'text' : 'password'
        "
        matSuffix
        class="eye-btn"
        [ngClass]="{
          'closed-eye': newPasswordInputType === 'password',
          'opened-eye': newPasswordInputType === 'text'
        }"
      ></button>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>დაადასტურეთ პაროლი</mat-label>
      <input
        formControlName="newPaswordConfirmation"
        [type]="newPaswordConfirmationInputType"
        matInput
        placeholder="დაადასტურეთ პაროლი"
      />
      <button
      type="button"
      (click)="
        $event.stopPropagation();
        newPaswordConfirmationInputType =
        newPaswordConfirmationInputType === 'password' ? 'text' : 'password'
      "
      matSuffix
      class="eye-btn"
      [ngClass]="{
        'closed-eye': newPaswordConfirmationInputType === 'password',
        'opened-eye': newPaswordConfirmationInputType === 'text'
      }"
    ></button>
      <!-- <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="green-btn" (click)="changePassword()" mat-raised-button>
    შენახვა
  </button>
  <button mat-raised-button color="warn" (click)="close()">დახურვა</button>
</mat-dialog-actions>
