.wrapper {
  width: 100%;

  .sub-wrapper {
    width: 687px;
    height: 544px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;

    .num {

      font-style: normal;
      font-weight: 600;
      font-size: 400px;
      line-height: 544px;
      /* identical to box height */

      text-transform: uppercase;

      color: #5276B2;

      opacity: 0.08;

      margin: 0px;
    }

    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h4 {

        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 37px;
        /* identical to box height */

        color: #2792CA;

        margin: 10px 0px;
      }

      p {

        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 24px;

        color: rgba(0, 0, 0, 0.96);

        opacity: 0.45;

        margin: 10px 0px;

        width: 310px;
        text-align: center;
      }

      button {
        background: #2792CA;
        border-radius: 8px;


        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;

        color: #FFFFFF;

        padding: 10px 30px;
      }
    }
  }
}

@media only screen and (max-width: 710px) {
  .wrapper {
    width: 100%;

    .sub-wrapper {
      width: 344px;
      height: 272px;

      .num {
        font-size: 200px;
        line-height: 272px;
      }
    }
  }
}
