/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: 'Noto Sans Georgian';
  src: url('/assets/fonts/NotoSansGeorgian/NotoSansGeorgian-CondensedBold.woff2') format('woff2'),
    url('/assets/fonts/NotoSansGeorgian/NotoSansGeorgian-CondensedBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Georgian';
  src: url('/assets/fonts/NotoSansGeorgian/NotoSansGeorgian-Condensed.woff2') format('woff2'),
    url('/assets/fonts/NotoSansGeorgian/NotoSansGeorgian-Condensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}
* {
  font-family: "Noto Sans Georgian";
}

body {
  margin: 0;
  background-color: #fafafa;
}

.w-100 {
  width: 100%;
}

.mt-10 {
  margin-top: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-15 {
  margin-left: 15px
}

.mr-15 {
  margin-right: 15px;
}

.p-20 {
  padding: 0 10px;
}

.redBtn {
  margin: 5px !important;
  color: #FFFFFF;
  background-color: #DB4437;
}

.orangeBtn {
  margin: 5px !important;
  color: #FFFFFF;
  background-color: #FF8F1E;
}

.blueBtn {
  margin: 5px !important;
  color: #FFFFFF;
  background-color: #3700d2;
}

.green-btn {
  background-color: #00d269;
  color: white;
  mat-icon {
    color: white;
  }
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.success-message {
  // background-color: rgba(0, 0, 0, 0.04);
  background-color: white;
  color: #00d269;
}

.err-message {
  background-color: white;
  color: red;
}

.message-warn {
  background-color: rgba(0, 0, 0, 0.04);
  color: #f44336;
}
