<h2 fxLayout="row" fxLayoutAlign="space-between center" mat-dialog-title>
  <span>სხდომების მართვა</span>
  <button (click)="close()" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</h2>
<div mat-dialog-content>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>აირჩიეთ მთავარი არბიტრი</mat-label>
    <mat-select #mainArbitrSelect [formControl]="arbitrageMeetingTypeControl">
      <mat-option *ngFor="let meeting of meetingTypes" [value]="meeting.en">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span>{{ meeting.ge }}</span>
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="saveMeeting()"> შენახვა</button>
</div>
