<mat-drawer-container opened class="container" *ngIf="users?.length">
  <mat-drawer opened #drawer class="sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item
        *ngFor="let user of users"
        class="list-item"
        role="listitem"
        [class.active]="isProfileActive(user)"
        (click)="selectUser(user)"
      >
        <mat-icon title="{{ user.firstName }} {{ user.lastName }}" mat-list-icon
          >person</mat-icon
        >
        <h4 title="{{ user.firstName }} {{ user.lastName }}" mat-line>
          {{ user.firstName }} {{ user.lastName }}
        </h4>
        <button
          (click)="deleteUser($event, user)"
          class="ml-8"
          mat-icon-button
          title="თანამშრომლის ამოშლა"
        >
          <mat-icon color="primary">delete</mat-icon>
        </button></mat-list-item
      >
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>

  <div class="sidenav-content">
    <div class="toggle-btn-container">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <br />
      <button (click)="addUser()" class="greenBtn" mat-raised-button>
        <mat-icon>add</mat-icon>
        თანამშრომლის დამატება
      </button>
    </div>
    <div class="page-container">
      <mat-card *ngIf="userForm">
        <h2 fxLayout="row" fxLayoutAlign="space-between center">
          თანამშრომლის {{ userForm?.value?._id ? "რედაქტირება" : "დამატება" }}

          <button (click)="close()" mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>
        </h2>
        <form [formGroup]="userForm">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>მომხმარებლის სახელი</mat-label>
            <input matInput formControlName="username" />
          </mat-form-field>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>სახელი</mat-label>
            <input matInput formControlName="firstName" />
          </mat-form-field>

          <mat-form-field class="w-100" appearance="fill">
            <mat-label>გვარი</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>პირადი ნომერი</mat-label>
            <input type="number" matInput formControlName="pid" />
          </mat-form-field>
          <mat-card class="mb-20">
            <section class="example-section">
              <h4>თანამდებობა</h4>
              <mat-checkbox
                (change)="checkRole($event, 'PRESIDENT')"
                [checked]="roleChecked('PRESIDENT')"
                >თავჯდომარე</mat-checkbox
              >
              <br />
              <mat-checkbox
                (change)="checkRole($event, 'ARBITR')"
                [checked]="roleChecked('ARBITR')"
                >არბიტრი</mat-checkbox
              >
              <br />
              <mat-checkbox
                (change)="checkRole($event, 'SUPERADMIN')"
                [checked]="roleChecked('SUPERADMIN')"
                >ადმინი</mat-checkbox
              >
            </section>
          </mat-card>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              <button
                style="color: white"
                (click)="save()"
                mat-raised-button
                class="green-btn"
              >
                შენახვა
              </button>
              <button
                class="ml-8"
                type="button"
                (click)="close()"
                mat-raised-button
                color="warn"
              >
                გაუქმება
              </button>
            </div>
            <div *ngIf="userForm?.value?._id">
              <button
                class="ml-8"
                type="button"
                (click)="resetPassword()"
                mat-raised-button
                color="warn"
              >
                პაროლის დარესეტება
              </button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</mat-drawer-container>
