<div class="container">
  <mat-card>
    <!-- <h1>თქვენი განცხადება N {{case?.caseId}} მიღებულია</h1> -->
    <!-- <hr /> -->
    <div>
      <h1>
        თქვენი განცხადება N {{ case?.caseId }} მიღებულია. იმისთვის, რომ საქმის
        მსვლელობას ადევნოთ თვალყური, გთხოვთ გაიაროთ ავტორიზაცია.
      </h1>
      <h3>მომხმარებელი :{{ case?.username }}</h3>
      <h3>პაროლი :{{ case?.password }}</h3>
      <a [routerLink]="['/guest/auth']">ავტორიზაციის გვერდზე გადასვლა</a>
    </div>
    <hr />

  </mat-card>
</div>
