<div class="container">
  <mat-card>
    <!-- <h1>თქვენი განცხადება N {{case?.caseId}} მიღებულია</h1> -->
    <!-- <hr /> -->
    <div>
      <h1>
        თქვენი განცხადება <b>{{ case?.title }}</b> (N {{ case?.caseId }})
        მიღებულია.
        <br />
        იმისთვის, რომ საქმის მსვლელობას ადევნოთ თვალყური, გთხოვთ გაიაროთ
        ავტორიზაცია.
      </h1>
      <h3>
        მომხმარებელი: <b>{{ caseUser?.username }}</b>
      </h3>
      <h3>
        პაროლი: <b>{{ caseUser?.password }}</b>
      </h3>
      <a [routerLink]="['/guest/auth']">ავტორიზაციის გვერდზე გადასვლა</a>
    </div>
    <hr />
  </mat-card>
</div>
